.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container > h1 {
  color: steelblue;
}

.form-container {
  border-top: 10px deeppink dotted;
  margin-top: 5rem;
  width: 50%;
}

.error-message {
  color: deeppink;
}
